<div class="container-fluid section-start" id="edit-product">








  <%= link_to 'Change password', edit_user_registration_path(@user), class: "btn btn-warning bottom-link" %><br>

  <%= link_to 'Show user info', user_path(@user), class: "btn btn-warning bottom-link" %><br>
<%= link_to 'Edit user info', edit_user_path(@user), class: "btn btn-success bottom-link" %><br><br>
</div>
