<div class="container-fluid section-start" id="index">
  <h1>Welcome to Bike Berlin</h1>
  <h2>Your source for used bikes in Berlin.</h2>
  <div>
  <%= image_tag("racebike2.jpg", class: "img-responsive my-image img") %>
  </div>
</div>
