<div class="container-fluid section-start" id="contact">
  <%= form_with(url: products_path, method: 'get', local: true) do |form| %>

    <%= form.label :q, 'Search for:' %>
    <%= form.text_field :q, id: 'q', value: params[:q] %>
    <%= form.submit 'Search'  %>


  <% end %>

</div>
