<div class="container-fluid section-start" >
    <h1>Editing User</h1>

    <%= render 'form', user: @user %>

    <%= link_to 'Show', @user, class: "btn btn-success bottom-link" %> |
    <%= link_to 'Back', request.referer, class: "btn btn-warning bottom-link" %>
</div>
