// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-align
{
    display: block;
    text-align: center;
}

.middle-screen
 {
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
   width: 350px;
}
